.metadata/
**/.mvn/
**/.settings/
**/target/
**/HELP
**/.classpath
**/.project
**/.gitattributes
customer/.gitignore
commonentities/.gitignore
employee/.gitignore
eureka/.gitignore
gateway/.gitignore
order/.gitignore
product/.gitignore
security/.gitignore
**/mvnw*


